/*------------------------------------*\
  #FONTS
\*------------------------------------*/
html{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Inter Web", Arial, Helvetica, sans-serif;
    color: #111;
    padding: 24px 24px 0;
    scroll-behavior: smooth; /*om het scrollen vloeiender te maken*/
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale; /*vendor prefixes voor Chrome & Safari en Firefox*/
}

@font-face {
    font-family: "Inter Web";
    font-weight: 500;
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Web";
    font-weight: 700;
    src: url("../fonts/Inter-Bold.woff2") format("woff2");
}
/*------------------------------------*\
  #GENERIC
\*------------------------------------*/
body{
    background: khaki; /*achtergrond kleur*/
}

@media (min-width: 768px){ /*voor grotere devices (tablets, 768 px and up)*/
    h1{
        font-size: 58px;
        line-height: 64px;
    }
    html{
        padding: 48 px 48 px 24 px;
    }
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/
img{
    max-width: 100%; /*zorgt ervoor dat een afbeelding nooit te breed wordt*/
    vertical-align: top; /*zorgt ervoor dat afbeeldingen van boven gealigneerd worden*/
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/
::selection {
    background: #44c8f5;
    /*kleur voor wanneer tekst geselecteerd wordt*/
    color: white;
}

a{
    color: royalblue; /*basis leggen van alle links*/
    transition: all.1s ease-in-out; 
}

a:hover,
a:focus{
    color: crimson; /*basis leggen van alle links op hoveren over link en tab op link*/
}

a:visited,
a:active {
    color: blueviolet;
    /*wanneer een link reeds bezocht is of wanneer deze geactiveerd wordt   */
}


/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/
.o-row{
    padding: 24px 24px 0;
    display: flow-root;
}

/* size modifiers */

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/


/* gutter modifiers, these affect o-layout__item too */

/* reverse horizontal row modifier */

/* Horizontal alignment modifiers*/

/* Vertical alignment modifiers */

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: header
    ---
    Main header of the website
*/

/*
    Component: Logo
    ---
    Website main logo
*/

/*
    Component: Nav
    ---
    Main navigation of the site
*/

/*
    Component: Lead
    ---
    Lead type treatments to style everything that differs from standard typography elements
*/

/*
    Component: footer
    ---
    Main footer of the website
*/

/*
    Component: CTA link
    ---
    Small cta link with custom animation
*/

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/
*+h2{ /*wanneer je wil dat het alleen toegepast wordt wanneer h2 in dit geval niet als eerste komt*/
    margin-top: 48px;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/
body {
    max-width: 42em;
    /*bepalen van maximum breedte en centreren van de tekst*/
    margin: 0 auto;
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

/*
    components : author
*/
.c-author{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 16px;
}

.c-author__image { /*maakt een cirkelvorm van afbeelding*/
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

.c-author__name,
.c-author__meta{
    margin-bottom: 0;
}

.c-author__meta{
    font-size: 14px;
    font-family: "inter", "helvetica neue", Arial, Helvetica, sans-serif;
    line-height: 24px;
    margin-top: 4px;
}

.c-author__name{
    font-size: 16px;
    line-height: 24px;
}