/*------------------------------------*\
  #FONTS
\*------------------------------------*/

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

/* size modifiers */

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

/* gutter modifiers, these affect o-layout__item too */

/* reverse horizontal row modifier */

/* Horizontal alignment modifiers*/

/* Vertical alignment modifiers */

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: header
    ---
    Main header of the website
*/

/*
    Component: Logo
    ---
    Website main logo
*/

/*
    Component: Nav
    ---
    Main navigation of the site
*/

/*
    Component: Lead
    ---
    Lead type treatments to style everything that differs from standard typography elements
*/

/*
    Component: footer
    ---
    Main footer of the website
*/

/*
    Component: CTA link
    ---
    Small cta link with custom animation
*/

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/